<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_timphongtro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_timphongtro"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TimPhongTro"
        tools:targetApi="31">
        <activity
            android:name=".Activities.PhoneVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PaymentNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ConfirmOrderActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BillActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ScheduleVisitDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.UserActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.scheduleVisitRoomActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MyLovePostActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditPostActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.CartActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ServiceDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ShowMoreActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.PostActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ManagePostActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.DetailRoomActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>